<html>
    <head>
    <title>PAP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/f4d7557894.js"></script>
    <link href="css/pap.css" rel="stylesheet" type="text/css"/>
    <style>
        @font-face {
            font-family: myFirstFont;
            src: url(fonts/thaisanslite_r1.ttf);
        }
        .navbar-inverse .navbar-nav>li>a{
            color: #E6E6E6;
        }
		.pie{
			margin-top: 30px;
		}
		.infobox>h1{
			padding-left: 15px;
		}
		
		
    </style>
</head>
    <body>

<div class="container">
    <div class="vertnav">
	 <div class="wrapper" style="overflow: auto;">
        <nav class="vertical">
            <ul>
                <li>
                    <label for="blog">Institute</label>
                    <input type="radio" name="verticalMenu" id="blog" />
                    <div>
                        <ul>
                            <li><a href="#">CU</a></li>
                            <li><a href="#">TU</a></li>
                            <li><a href="#">KU</a></li>
                            <li><a href="#">MU</a></li>
							<li><a href="#">KKU</a></li>
							<li><a href="#">PSU</a></li>
							<li><a href="#">...</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <label for="work">Faculty</label>
                    <input type="radio" name="verticalMenu" id="work" />
                    <div>
                        <ul style="overflow: auto; height: 500px;">
                            <li><a href="#">Law</a></li>
                            <li><a href="#">Commerce and Accountancy</a></li>
                            <li><a href="#">Political Science</a></li>
							<li><a href="#">Economics</a></li>
							<li><a href="#">Social Administration</a></li>
							<li><a href="#">Liberal Arts</a></li>
							<li><a href="#">Journalism and Mass Communication</a></li>
							<li><a href="#">Sociology and Anthropology</a></li>
							<li><a href="#">Science and Technology</a></li>
							<li><a href="#">Engineering</a></li>
							<li><a href="#">Medicine</a></li>
							<li><a href="#">Architecture and Planning</a></li>
							<li><a href="#">Sirindhorn International Institute of Technology</a></li>
							<li><a href="#">Pharmaceutical Sciences</a></li>
							<li><a href="#">Learning Sciences and Education</a></li>
		
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>

    </div>
</div>
<div class="content">
    <div class="infobox row">
        <h1 class="topichead">Name of university</h1>
		<hr>
    </div>
              

             
                <div id="overview" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-md-3 rank">
                            <h3>Ranking</h3>
                            00
                        </div>
                        <div class="col-md-3 rank">
                            <h3>Publication</h3>
                            00
                        </div>
                        <div class="col-md-3 rank">
                            <h3>Citation</h3>
                            00
                        </div>
                        <div class="col-md-3 rank">
                            <h3>Citation per Publication</h3>
                            00.00
                        </div>
                        
                    </div>
                    
                </div>
                <center>
					<div class="pie" style="height: 300px; width: 300px; background-color: yellow; border-radius: 300px;">
					</div>				
				</center>
</div>
</div>
</body>
</html>
    