
<div class="container">
    <h1 class="topichead">Name Surname</h1>
    <div class="infobox row">
        <div class="col-md-3">
            <img src="https://s-media-cache-ak0.pinimg.com/736x/85/c3/8a/85c38aa79f762d213ded89cf26bd144f--photography-face-female-portrait-photography.jpg">
        </div>
        <div style="display: inline-block;">
        <h3 class="prof"><i class="fa fa-plus-square hidden" aria-hidden="true"></i>Biography</h3>
                    <p>...</p>
                    <h3 class="prof"><i class="fa fa-plus-square hidden" aria-hidden="true"></i>Research Interest</h3>
                    <p>...</p>
                    <h3 class="prof"><i class="fa fa-plus-square hidden" aria-hidden="true"></i>Affiliation</h3>
                    <p>...</p>
                    <h3 class="prof"><i class="fa fa-plus-square hidden" aria-hidden="true"></i>Contact information</h3>
                    <p>...</p>
        </div>
    </div>
              <ul class="nav nav-tabs topichead">
                <li class="active"><a data-toggle="tab" href="#overview">Overview</a></li>
                <li><a data-toggle="tab" href="#resdetail">Research Detail</a></li>
              </ul>

              <div class="tab-content">
                <div id="overview" class="tab-pane fade in active">
                    <div class="row">
                        <div class="col-md-3 rank">
                            <h3>Ranking</h3>
                            00
                        </div>
                        <div class="col-md-3 rank">
                            <h3>Publication</h3>
                            00
                        </div>
                        <div class="col-md-3 rank">
                            <h3>Citation</h3>
                            00
                        </div>
                        <div class="col-md-3 rank">
                            <h3>Citation per Publication</h3>
                            00.00
                        </div>
                        
                    </div>
                    <table class="table table-striped" style='margin-top: 20px;'>
                           <tr>
                               <th>No</th>
                               <th>Title</th>
                               <th>Author</th>
                           </tr>
                           <tr>
                               <td>1</td>
                               <td>Research paper name</td>
                               <td>
                                   Author1,Author2,Author3
                               </td>
                           </tr>
                       </table>
                </div>
                <div id="resdetail" class="tab-pane fade">
                    <div>Word cloud</div>
                </div>
                
              </div>
</div>
    